<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" 
          [class.active]="aba == 'home'"
          (click)="aba = 'home'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          [class.active]="aba == 'features'"
          (click)="aba = 'features'">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          [class.active]="aba == 'pricing'"
          (click)="aba = 'pricing'">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba"> <!-- IF aba == PRICING, a pagina PRICING é mostrada, ELSE aba == FEATURES, é mostrada a página de FEATURES, se nenhum desses casos então é mostrado HOME-->
    <p *ngSwitchCase="'pricing'">Modo Pricing Ativado</p>
    <p *ngSwitchCase="'features'">Modo Features Ativado</p>
    <p *ngSwitchDefault>Modo Home Ativado</p>
</div>

<h5>Removendo o * e usando template</h5>

<div class="container" [ngSwitch]="aba">
    <ng-template [ngSwitchCase]="'pricing'">
        <p>Modo Pricing Ativado</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'features'">
        <p>Modo Features Ativado</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'home'" ngSwitchDefault>
        <p>Modo Home Ativado</p>
    </ng-template>
</div>